# Compilados
*.exe
*.spec
*.pyc
__pycache__/

# Archivos de salida
*_ordenado.*
*.csv
*.xlsx

# Scripts de ayuda (todos .py excepto INTENTO_UNO.py)
*.py
!INTENTO_UNO.py

# Entorno
.venv/
env/

# Sistema operativo
.DS_Store
Thumbs.db

# Git
*.log
